@using System.Web.Optimization
@model dynamic
@{
    ViewBag.Title = "Upload files";
}
@section Head {
  @Styles.Render("~/Content/fileupload");    
}

@section scripts{
  @Scripts.Render("~/Scripts/fileupload");    
  <script>
      $(function () {
          @*setupFileUpload(@ViewBag.ThumbSize);*@
          alert('done');
      });
  </script>
}
<h2>File Upload</h2>

