@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Scripts.Render("~/Scripts")
    <script type="text/javascript">

        $(document).ready(function () {
            alert('script render done !!');
        });

    </script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
